/*header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}*/

.list-item:hover{
	z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
   -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
   -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}