<ul id="dropdown1" class="dropdown-content" >
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<nav class="nav-extended blue lighten-1"  ng-init="islogin()">
  <div class="nav-wrapper">
     <a href="#!" class="brand-logo" ng-bind="user.name" style="margin-left: 20px;">></a>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
    <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-click="" href="#modalContact"  >Add Contact</a></li>
      <li><a ng-click="" href="#modalChat"     >Create Private Room</a></li>
      <li><a ng-click="" href="#modalChannel"  >Create Channel</a></li>
      <li><a ng-click="" href="#modalInvitRequest"  >All Public Channel</a></li>
      <li><a href=""     ng-click="logout()"   >Logout</a></li>
      <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
    </ul>
  </div>
  <div class="nav-content" ng-init="getRooms()">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a class="active"  href="#msgs">Messages</a></li>
      <li class="tab"><a href="#channels">Channels</a></li>
      <li class="tab"><a href="#contacts">Contacts</a></li>
      <li class="tab"><a href="#gif">Create Emoji</a></li>
      <li class="tab"><a href="#invitations">Room Entrance Request</a></li>
      <li class="tab"><a href="#settings">Settings</a></li>
    </ul>
  </div>
</nav>
<div id="msgs" class="col s12"> <ng-include src="'./templates/chats.html'" ></ng-include>  </div>
<div id="channels" class="col s12">  <ng-include src="'./templates/channels.html'" ></ng-include>  </div>
<div id="contacts" class="col s12">  <ng-include src="'./templates/contacts.html'" ></ng-include>  </div>
<div id="gif" class="col s12 center">  <ng-include src="'./templates/gif.html'" ></ng-include>  </div>
<div id="invitations" class="col s12">
  <ul class="collection" >
    <li class="collection-item avatar" ng-repeat="invit in Invitations" ng-show="!invit.readed">  <!--ui-sref="chat"-->
      <i class="material-icons circle green"  >insert_chart</i>
      <span class="title"><h4 ng-bind="invit.room.name"></h4></span>
      <h5 ng-bind="invit.from.name"></h5>
      <h5 ng-bind="invit.from.email"></h5>
      <!-- <p ng-bind="room.date"></p><br> -->
      <a href="#!" class="secondary-content">
        <a class="waves-effect waves-light btn" ng-click="acceptInvitations(invit, true)">
            <i class="material-icons left">done</i>accept
        </a>
        <a class="waves-effect waves-light btn" ng-click="acceptInvitations(invit, false)">
            <i class="material-icons left">cancel</i>reject
        </a>
        <!-- <i class="material-icons">grade</i> -->
      </a>
    </li>
  </ul>
</div>
<div id="settings" class="col s12"> <ng-include src="'./templates/settings.html'" ></ng-include>  </div>


<!-- Modal Add Contact -->
<div id="modalInvitRequest" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h1>Find Room And Send Request</h1>
    <p>Fill Out The Information</p>
    <br>

    <div class="row center" style="width: 100%" ng-init="getAllRooms()"> 
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="roomName" type="text" class="validate" ng-keyup="getAllRooms(); roomToAdd = null">
            <label for="roomName" data-error="wrong" data-success="right">Room Name</label>
          </div>
          <ul class="collection">
            <li class="collection-item avatar" ng-repeat="cData in allRooms" ng-click="cData.selected = !cData.selected; selectInvitationRoom(cData)" ng-show="!cData.private">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">
                  <h5 ng-bind="cData.name"></h5>
                </span>
                <h6 ng-bind="cData.email"></h6>
                <p ng-bind="cData._id"></p><br>
                <a class="secondary-content" ng-show="cData.selected">
                    <i class="material-icons" style="font-size: 50px;" ng-show="cData.selected">done</i>
                </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="requestInvitation()"  ng-show="roomToAdd!=null" >Add</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>


<!-- Modal Add Contact -->
<div id="modalContact" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h1>AddFriend</h1>
    <p>Fill Out The Information</p>
    <br>

    <div class="row center" style="width: 100%" ng-init="getAllUsers()"> 
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="contactEmail" type="email" class="validate" ng-keyup="getAllUsers();" ng-model="cEmail" >
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
          <ul class="collection">
            <li class="collection-item avatar" ng-repeat="cData in allUsers" ng-click="cData.selected = !cData.selected; selectFriend(cData)">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">
                  <h5 ng-bind="cData.name"></h5>
                </span>
                <h6 ng-bind="cData.email"></h6>
                <p ng-bind="cData._id"></p><br>
                <a class="secondary-content" ng-show="cData.selected">
                    <i class="material-icons" style="font-size: 50px;" ng-show="cData.selected">done</i>
                </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="createContact(userToAdd.email)" >Add</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
<!-- Modal New Chat -->
<div id="modalChat" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h1>Create Private Room</h1>
    <p>Fill Out The Information</p><br>
    <div ng-if="selectedContact!=null">
      <p>Click To Select Another</p><br>
      <ul class="collection">
          <li class="collection-item avatar" ng-click="selectNextContact(selectedContact)">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">
              <h5 ng-bind="selectedContact.contact.name"></h5>
            </span>
            <h6 ng-bind="selectedContact.contact.email"></h6>
            <p ng-bind="selectedContact.contact._id"></p><br>
            <a class="secondary-content">
                <i class="material-icons" style="font-size: 50px;">done</i>
            </a>
          </li>
      </ul>
    </div>
    <div ng-if="selectedContact==null">
      <p>Select Participants</p><br>
      <ul class="collection" ng-init="getContacts()">
          <li class="collection-item avatar" ng-repeat="cData in Contacts"
          ng-click="selectNextContact(cData);cData.selected = true">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">
              <h5 ng-bind="cData.contact.name"></h5>
            </span>
            <h6 ng-bind="cData.contact.email"></h6>
            <p ng-bind="cData.contact._id"></p><br>
            <a class="secondary-content"></a>
          </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
    ng-click="createRooms(true, '')" ng-hide="selectedContact==null">Create</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<!-- Modal New Chat -->
<div id="modalChannel" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h1>Create New Public Room</h1>
    <p>Fill Out The Information</p><br>

    <div class="row center" style="width: 100%">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="selectedRoomName" type="text" class="validate" ng-model="selectedRoomName">
            <label for="email" data-error="wrong" data-success="right">Name</label>
          </div>
        </div>
      </form>
    </div>

    <p>Select Participants</p><br>

    <ul class="collection" ng-init="getContacts()">
        <li class="collection-item avatar" ng-repeat="cData in Contacts" ng-click="cData.selected = !cData.selected ">
          <i class="material-icons circle green"  ng-init="cData.selected = false">insert_chart</i>
          <span class="title">
            <h5 ng-bind="cData.contact.name"></h5>
          </span>
          <h6 ng-bind="cData.contact.email"></h6>
          <p ng-bind="cData.contact._id"></p><br>
          <a class="secondary-content">
              <i class="material-icons" style="font-size: 50px;" ng-show="cData.selected">done</i>
          </a>
        </li>
    </ul>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"
    ng-click="createRooms(false, selectedRoomName)" ng-show="selectedRoomName.trim()!='' ">Create</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>



<script type="text/javascript">
      // Initialize collapse button
  $(".button-collapse").sideNav();
  $('.modal').modal();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
     // Show sideNav
    // $('.button-collapse').sideNav('show');
    // // Hide sideNav
    // $('.button-collapse').sideNav('hide');
    // // Destroy sideNav
    // $('.button-collapse').sideNav('destroy');
</script>
