


<div class="container row">
    <form class="col s12">
			<div class="row">
				<div class="input-field col s6">
							<!-- <div id="my_camera" style="width:320px; height:240px;"></div>
							<br>
							<div id="my_result"></div>
							<br>
							<a class="waves-effect waves-light btn" ng-click="take_snapshot()"><i class="material-icons right">cloud</i>button</a>
							{{cameraURI}} -->
							<center>
								<img id="imgProfileUpload" src="{{user.img}}" width="200" height="200">
							</center>
							

							<div class="file-field input-field">
					        <div class="btn">
					          <span>File</span>
					          <input id="btnProfileUpload" type="file" >
					        </div>
					        <div class="file-path-wrapper">
					          <input id="inp" class="file-path validate" type="text" ng-model="fileUpload"  ng-change="previewFile('imgProfileUpload', 'btnProfileUpload' )">
					        </div>
					         </div>
		        </div>
		        <div class="input-field col s6">
			        <div class="row">
								<i class="material-icons prefix">account_circle</i>
			          <input placeholder="Placeholder" id="username" type="text" class="validate"  value="user.username" ng-model='profileUsername'> 
			          <label for="username">Username</label>
			        </div>
			        <div class="row">
					 	<i class="material-icons prefix">account_circle</i>
			          	<input placeholder="Placeholder" id="name" type="text" class="validate" value="user.name" ng-model='profileName'>
			          	<label for="name">Name</label>
			        </div>
					<div class="row">
						<i class="material-icons prefix">account_circle</i>
				        <input value="Email" id="email" type="email" class="validate"  value="user.email" ng-model='profileEmail'>
				        <label for="email">Email</label>
			        </div>
		        </div>
			</div>
	     <!--  <div class="row">
	        <div class="input-field col s6">
						<i class="material-icons prefix">account_circle</i>
	          <input id="password" type="password" class="validate" >
	          <label for="password">Password</label>
	        </div>
					<div class="input-field col s6">
						<i class="material-icons prefix">account_circle</i>
	          <input id="password" type="password" class="validate">
	          <label for="password">Password</label>
	        </div>
	      </div> -->
			<div class="row center">
				<a class="waves-effect waves-light btn" ng-click="updateUser( profileUsername, profileName , profileEmail, imgUpload  )">
				<i class="material-icons right">cloud</i>
					Edit User
				</a>
				
			</div>
    </form>
</div>

<!-- <script src="js/third/webcam.js"></script>
<script language="JavaScript">
	Webcam.attach( '#my_camera' );
</script>
 -->